[v-cloak] {
  display: none;
}
.h-99 { height: 99%; }
.p-relative { position: relative; }
* {
  transition: 1s ease all;
}
body.is-viewer {
  background-color: #000;
}
#mainWrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#images, #bible {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}
.thumbnail {
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #000;
  box-shadow: inset 0 0 2px 0px #000, inset 0 0 4px 4px #FFF;
  border-radius: 5px;
  cursor: pointer;
}
.thumbnail:hover {
  box-shadow: inset 0 0 1px 0px #000, inset 0 0 0 0 #FFF, 0 0 10px 2px #08F;
  transform: scale(1.05, 1.05);
}
.viewer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #000;
  overflow: auto; /* Enables maximizeFontSize(...) */
  opacity: 0;
}
.viewer.visible {
  opacity: 1;
}
.verse-viewer .background {
  background-image: url('bible-background.jpg');
  filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}
.verse-viewer .foreground {
  height: 100%;
  width: 100%;
  text-shadow:
    0 0 0.25em #000,
    0 0 0.25em #000,
    0 0 0.25em #000;
  color: #FFF;
  position: relative;
  z-index: 1;
  font-size: 6vmin;
}
.verse-viewer * {
  transition: none;
}
.bible-selector {
  background-color: rgba(0, 128, 255, 1);
  color: #FFF;
  display: block;
}
.bible-selector:hover {
  background-color: rgba(0, 128, 255, 0.5);
  color: #FFF;
  text-shadow: 0 0 0.125em #000;
  text-decoration: none;
}
.verse {
  cursor: pointer;
  display: inline-block;
}
.verse .number {
  background-color: rgb(0,128,255);
  color: #FFF;
  padding: 0.125em 0.5em;
  border-radius: 1em;
}
.verse:hover {
  text-decoration: underline;
}
.p-verse {
  padding: 1em;
}
.image-options {
  font-family: "Arial Black", Tahoma;
  font-size: 1.25em;
  font-weight: bold;
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  right: 0.5em;
  text-align: right;
}
.image-options .option {
  text-align: center;
  width: 1.25em;
  height: 1.25em;
  line-height: 1.25em;
  border-radius: 1em;
  transition: 0.5s ease all;
  display: inline-block;
}
.image-options .option.red {
  color: #F00;
  background-color: rgba(255,255,255,0.75);
  box-shadow: 0 0 0.25em rba(255,255,255);
}
.image-options .option.red:hover,
.image-options .option.red:hover * {
  color: rgb(255,255,255);
  background-color: rgba(255,0,0,0.75);
  box-shadow: 0 0 0.25em #F00;
}
.image-options .option.gray {
  color: rgb(0,128,255);
  background-color: rgba(255,255,255,0.75);
  box-shadow: 0 0 0.25em rgb(255,255,255);
}
.image-options .option.gray:hover,
.image-options .option.gray:hover * {
  color: rgb(255,255,255);
  background-color: rgba(0,128,255,0.75);
  box-shadow: 0 0 0.25em rgb(0,128,255);
}
